<div class="Titulo_Pagina"> Alumnos de 1º FPB <span class="numerito">{{alumnos.length}}</span></div>
<div class="caja alumnos">
    <div  *ngFor="let datosAlumnos of alumnos">
      <div class="cajaTitulo informe enlace" routerLink="../dalumno/{{datosAlumnos.id}}">
        <img class="foto" [src]='datosAlumnos.foto' alt="">
        <div class="cajaNombre">
        <div class="nombre" > {{datosAlumnos.nombre}}</div>
        <div class="curso"> {{datosAlumnos.curso}}</div>
        </div>
      </div>
     <!-- <div class="informe">
        <div class="curso tituloI">Actitud</div>
        <div class="curso textoJ"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, rem reprehenderit soluta id quidem pariatur debitis quibusdam velit et ab. Eligendi nemo, hic doloremque sit libero provident ad id iusto?  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque omnis vero est, aut excepturi consequuntur repellendus inventore officia quidem quisquam amet recusandae rerum, provident numquam reprehenderit nihil earum ad fugit!</div>
      </div>
    <div *ngFor="let evalua of datosAlumnos.evaluaciones">
      <div class="evaluacion" >{{evalua.evaluacion }}</div>
        <div class="contenedor"> 
  
          <app-circulo *ngFor="let notas of evalua.notas" [valor]="notas"></app-circulo>
        </div> 
      </div>
    </div>-->
  </div>
  
 
  